.modalBackground {
    width:900px;
    height:500px;
    background-color: rgb(180, 132, 132);
    box-shadow: 5px;
    border-radius: 12px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalcontainer{
    width: 900px;
    height:500px ;
    background-color: rgb(253, 251, 251);
    box-shadow:rgb(52, 50, 50) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  .title{
    text-align: center;
    margin-top: 10px;
  }
  .close-btn{
    display: flex;
    justify-content: flex-end;
  }
  .close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: #fff;
  }
  .modal-body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-align: center;
  }
  .modal-footer{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-btn {
    width: 200px;
    height: 100px;
    margin: 10px;
    border: none;
    background-color: crimson;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
.openModalBtn{
    width: 300px;
    height: 100px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
} 
